body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    padding: 20px;
    background-color: #f4f4f4;
}
form {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
label {
    font-weight: bold;
    color: #555;
    padding:3px;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.4;
    box-sizing: border-box;
    min-height: 150px;
}
textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
.output-table {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items:center;
}
.tokenization-table-container, .parse-table-container, .symbol-table-container {
    padding: 15px;
    border-radius: 5px;
}
.tokenization-table, .parse-table, .symbol-table {
    padding: 15px;
    border-radius: 5px;
    border-collapse: collapse;
    border-spacing: 0;
}
.tokenization-table th, .tokenization-table td,.parse-table th, .parse-table td,.symbol-table th,
.symbol-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.tokenization-table th,
.parse-table th,
.symbol-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}
h3{
    justify-self:center;
}
.error {
    color: red;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #f44336;
    background-color: #ffebee;
    border-radius: 5px;
}
h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.2em;
}



