<!DOCTYPE html>
<html>
<head>
    <title>Mini Compiler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Mini Compiler (Lexical, Syntax, Semantic)</h2>
    <form method="POST" action="/compile">
        <label>Enter your code:</label><br>
        <textarea name="code" required></textarea><br><br>
        <button type="submit">Compile</button>
    </form>

    {% if output %}
        <h3>Output</h3>
        <pre>{{ output }}</pre>
    {% endif %}
</body>
</html>
